// 🎨 Colors
$primaryColor: #000000;    // Deep navy
$secondaryColor: #1c5b01;  // Dark red
$accentColor: #36cb45;     // Bright orange
$greyColor: #ccc;           // Light grey
$validColor: #1dbe0e;       // Green for valid inputs
$requiredColor: #d62828;    // Red for required fields

// 🖋 Fonts & Weights
$defaultFont: 'Roboto', sans-serif;
$headingFont: 'Merriweather', serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;
$leading: 150%;

// 📏 Spacing
$gutter: 10px;